.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 320px;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
